<nav class="shrink-0 h-full bg-white border-r border-gray-200 flex flex-col justify-between transition-all duration-200"
     [class.w-60]="!isCollapsed()"
     [class.w-16]="isCollapsed()">
  <div>
    <div class="h-12 flex items-center border-b border-gray-200" 
         [class.justify-between]="!isCollapsed()"
         [class.justify-center]="isCollapsed()"
         [class.px-4]="!isCollapsed()">
      <div class="flex items-center space-x-3">
         <svg class="w-7 h-7" data-icon-name="cloudRunSectionIcon" viewBox="0 0 32 32" fill="none" fill-rule="evenodd" aria-hidden="true"><path fill="var(--cm-sys-color-logo-grey-soft-tone, #757575)" d="M11.046 1l4.986 15H31z"></path><path fill="var(--cm-sys-color-logo-grey-deep-tone, #424242)" d="M31 16H16.032l-4.986 15zM2.31 31l4.994-2.503L11.046 16H6.05z"></path><path fill="var(--cm-sys-color-logo-grey-soft-tone, #757575)" d="M2.31 1l3.74 15h4.996L7.304 3.503z"></path></svg>
        @if (!isCollapsed()) {
          <span class="text-lg text-gray-700">Cloud Run</span>
        }
      </div>
      @if (!isCollapsed()) {
        <button class="p-1 text-gray-500 hover:bg-gray-100 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24"><path fill="currentColor" d="M16 12V4h1V2H7v2h1v8l-2 2v2h5.2v6h1.6v-6H18v-2l-2-2z"/></svg>
        </button>
      }
    </div>

    <ul class="py-2">
      @for(item of navItems(); track item.label) {
        @let isActive = activeView() === item.id;
        <li 
          class="cursor-pointer"
          [class.px-2]="!isCollapsed()"
          (click)="viewChange.emit(item.id)"
          [class.bg-blue-100]="isActive"
          [class.text-blue-700]="isActive"
          [class.font-medium]="isActive"
          [class.text-gray-600]="!isActive"
          [class.hover:bg-gray-100]="!isActive">
          <a href="#" (click)="$event.preventDefault()" class="flex items-center h-9 space-x-3" 
             [class.border-l-4]="isActive" 
             [class.border-blue-600]="isActive"
             [class.pl-3]="isActive && !isCollapsed()"
             [class.pl-4]="!isActive && !isCollapsed()"
             [class.justify-center]="isCollapsed()"
            >
            <div [innerHTML]="item.icon" class="w-5 h-5 shrink-0"></div>
            @if (!isCollapsed()) {
              <span>{{ item.label }}</span>
            }
          </a>
        </li>
      }
    </ul>
  </div>

  <div>
    <ul class="border-t border-gray-200 py-2">
      <li (click)="releaseNotesClicked.emit()" class="cursor-pointer">
        <a href="#" (click)="$event.preventDefault()" class="flex items-center h-10 space-x-3 text-gray-600 hover:bg-gray-100"
            [class.px-4]="!isCollapsed()"
            [class.justify-center]="isCollapsed()">
            <svg class="w-5 h-5 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M17.5 4.5c-1.4 0-2.5-1.1-2.5-2.5S16.1 0 17.5 0S20 1.1 20 2.5s-1.1 2-2.5 2zm-12 7c-1.63 0-3.04.8-3.92 2.01A5.03 5.03 0 0 0 .5 17a5 5 0 0 0 5 5c1.76 0 3.26-.95 4.09-2.31l1.41 2.35l1.41-2.35C13.24 20.05 14.74 21 16.5 21c2.21 0 4-1.79 4-4s-1.79-4-4-4c-1.63 0-3.04.8-3.92 2.01a5.03 5.03 0 0 0-7.16 0A4.95 4.95 0 0 0 5.5 11.5z"/></svg>
            @if (!isCollapsed()) {
              <span>Release Notes</span>
            }
        </a>
      </li>
      <li (click)="toggleCollapse.emit()" class="flex items-center h-10 text-gray-600 hover:bg-gray-100 cursor-pointer"
          [class.px-4]="!isCollapsed()"
          [class.justify-center]="isCollapsed()">
        @if (!isCollapsed()) {
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7" /><path stroke-linecap="round" stroke-linejoin="round" d="M4 5v14" /></svg>
        } @else {
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7" /><path stroke-linecap="round" stroke-linejoin="round" d="M20 19V5" /></svg>
        }
      </li>
    </ul>
  </div>
</nav>